In [3]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
city = pd.read_csv('city.csv')

Столбцы и количество строк в таблице city

In [124]:
city.columns

Index(['address', 'postal_code', 'country', 'federal_district', 'region_type',
       'region', 'area_type', 'area', 'city_type', 'city', 'settlement_type',
       'settlement', 'kladr_id', 'fias_id', 'fias_level', 'capital_marker',
       'okato', 'oktmo', 'tax_office', 'timezone', 'geo_lat', 'geo_lon',
       'population', 'foundation_year'],
      dtype='object')

In [123]:
len(city)

1117

Узнали самое длинное название города в таблице

In [128]:
q=[]
for i in city["city"]:
    i = str(i)
    q.append(i)
print(f'Самое длинное название города в таблице имеет {len(max(list, key=len))} символов')

Самое длинное название города в таблице имеет 25 символов

Количество городов для каждого часового пояса в Сибирском и Приволжском федеральных округах
Ответ: 58

In [130]:
time = city[city['federal_district'].isin(['Приволжский', 'Сибирский'])]
time[['timezone','address']].groupby('timezone').count().rename({'address': 'Количество городов'}, axis=1)

          Количество городов
timezone
UTC+3                    101
UTC+4                     41
UTC+5                     58
UTC+6                      6
UTC+7                     86
UTC+8                     22

Количество городов в каждом часовом поясе, отсортированное по убыванию.

In [148]:
q = city[['timezone','address']].groupby('timezone').count().sort_values('address', ascending=False)
q.rename({'address': 'Количество городов'}, axis=1)

          Количество городов
timezone
UTC+3                    660
UTC+5                    173
UTC+7                     86
UTC+4                     66
UTC+9                     31
UTC+8                     28
UTC+10                    22
UTC+2                     22
UTC+11                    17
UTC+12                     6
UTC+6                      6